.card{
    width: 20%;
    background-color: yellow;
    padding: 20px;
    border-radius: 10px;
}

.cardLink{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardLink span{
    background-color: rgb(53, 53, 53);
    padding: 5px 10px;
    border-radius: 100%;
    color: white;
    font-weight: bold;
}